body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: blue;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin: 0;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

li,
.weekdays {
  color: grey;
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
}

a {
  color: blue;
}

.opensource {
  display: block;
  position: absolute;
  text-align: center;
  padding-top: 25px;
}

.weather-app {
  border: 1px solid blue;
  padding: 20px;
  border-radius: 20px;
  margin: 20px auto;
  max-width: 600px;
}

.temperature {
  color: blue;
  font-size: 64px;
  font-weight: 400px;
  line-height: 1;
}

.rain {
  color: blue;
  font-size: 55px;
  line-height: 1;
  margin-right: 10px;
}

.units {
  position: relative;
  top: -33px;
}

.city-search-form {
  margin-bottom: 20px;
}

.icon-forecast {
  color: grey;
  font-size: 20px;
  margin-top: 5px;
}

.next-five {
  margin-top: 20px;
  padding: 20px;
  background-color: aliceblue;
  border-radius: 20px;
}

.search-button {
  background-color: blue;
  color: white;
}

#current-location-button {
  background-color: turquoise;
  color: white;
}
